/* for html */
.add_the-widget {
	background-image: url(img/add-icon.png);
	background-position: center center;
	background-repeat: no-repeat;
}

.the-widget {
	width: 100%;
	height: 100%;
	position: relative;
	font-family: Consolas, "Courier New", Courier, monospace;
	font-size: 12px;
	color: #333;
}
.the-widget header {
	white-space: nowrap;
	overflow: hidden;
	padding-left: 5px;
	padding-right: 5px;
	text-overflow: ellipsis;
	vertical-align: middle;
	line-height: 20px;
	width: 250px;
	height: 20px;
	float: left;
}
.the-widget .thewidget-btn {
	font-weight: bold;
	font-size: 20px;
	color: black;
	width: 20px;
	height: 20px;
	float: right;
	background-color: rgba(0,0,0, 0.15);
	text-align: center;
	vertical-align: middle;
	line-height: 20px;
	border-bottom-left-radius: 8px;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.the-widget .summary {
	width: 100%;
	height: 20px;
	display: table;
	position: absolute;
	bottom: 0;
}
.the-widget .summary div {
	display: table-cell;
	height: 100%;
	vertical-align: middle;

}

.the-widget .options {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0, 0.25);
}
.options div {
	position: absolute;
}
.options .frame {
	border: 2px solid black;
}
.options .frame.layer-0 {
	left: 4px;
	top: 4px;
	right: 8px;
	bottom: 8px;
}
.options .frame.layer-1 {
	left: 8px;
	top: 8px;
	right: 4px;
	bottom: 4px;
}
.options .form {
	left: 10px;
	top: 10px;
	right: 10px;
	bottom: 10px;
	background: rgba(255,255,255, 0.65);
	padding: 5px;
}
.options p,
.options span {
	cursor: default;
	margin-top: 6px;
	margin-bottom: 0;
}
.options .caption {
	text-align: center;
}
.options input,
.options select {
	width: 250px;
}
.options button {
	float: right;
	margin: 0 5px;
}




/* for svg */
line {
	stroke: red;
	stroke-width: 1px;
}
text {
	font-family: Courier New;
	font-size: 10px;
	font-weight: bold;
	text-anchor: middle;
	fill: white;
}
text.tiny {
	text-anchor: start;
	fill: black;
}
rect.bg {
	fill: khaki;
}
]]>

